@model ItemsSupplyModel

@{
	var exists = Model != null && Model.Id != 0;
	ViewBag.Title = (exists ? "Редактирование" : "Создание") + " ItemsSupply";
}

<form asp-action="Update" asp-antiforgery="true" method="post">
	<div class="row">
		<input type="hidden" asp-for="Id"/>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="MedicineId"></label>
				<input type="text" asp-for="MedicineId" class="form-control"/>
				<span asp-validation-for="MedicineId" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="MedicineSupplierId"></label>
				<input type="text" asp-for="MedicineSupplierId" class="form-control"/>
				<span asp-validation-for="MedicineSupplierId" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="Quantity"></label>
				<input type="text" asp-for="Quantity" class="form-control"/>
				<span asp-validation-for="Quantity" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="UnitPrice"></label>
				<input type="text" asp-for="UnitPrice" class="form-control"/>
				<span asp-validation-for="UnitPrice" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-outline-primary" type="submit">@(exists ? "Сохранить" : "Добавить")</button>
			<a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
		</div>
	</div>
</form>
